<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions Page</title>
</head>
<body>
    <h2> <%= questionToDisplay.description %> </h2>
    <h2> Cette question est une description<%= questionToDisplay.level.name %> </h2>
    <% for( response of questionToDisplay.answers ) { %>
        <%= response.description %> 
    
    <% } %>
    
</body>
</html>